label for="title" Titel:
input.title type="text" name="site[title]" value="#{@site.title}" size="32"
br
br

label for="description" Description:
input.title type="text" name="site[description]" value="#{@site.description}" size="32"
br
br

label for="street" Street:
input.title type="text" name="site[street]" value="#{@site.street}" size="32"
br
br

label for="zip" ZIP:
input.title type="text" name="site[zip]" value="#{@site.zip}" size="32"
br
br

label for="town" Town:
input.title type="text" name="site[town]" value="#{@site.town}" size="32"
br
br