label for="title" Titel:
input type="text" name="post[title]" value="#{@post.title}" size="32"
br
label for="synopsis" Synopsis:
input type="text" name="post[synopsis]" value="#{@post.synopsis}" size="32"
br
label.top for="content" Content:
textarea name="post[content]" value="#{@post.content}" size="32" rows="6"
br
br
input type="hidden" name="post[user_id]" value="1" size="32"