label for="username" Username:
input.title type="text" name="user[username]" value="#{@user.username}" size="32"
br
br
br
label for="forename" Vorname:
input.title type="text" name="user[forename]" value="#{@user.forename}" size="32"
br
label for="familyname" Nachname:
input.title type="text" name="user[familyname]" value="#{@user.familyname}" size="32"
br
br
br
label for="email" Email:
input.title type="email" name="user[email]" value="#{@user.email}" size="32"